{% extends "base.html.twig" %}

{% block title %}BestPortfolio{% endblock %}

{% block body %}
<style>
    .content{
        word-break: break-word;
        text-align: center;
    }
    .seemore{
        text-decoration: none;
        font-size: 20px;
        color: pink;
        background-color:purple;
        padding: 6px;
        border: solid;
        border-color: red;
        border-radius: 20px;
    }
    .seemore:hover{
        background-color:yellow;
        color: white;
        border-color: green;
    }
    .space{
        padding:40px;
    }
</style>
<h1>Best portfolio ever</h1>
<div class="content">
    <p class="space">
        The portfolio is very beautifull yes, handmade css, <strong>pure art</strong>.
    </p>
    <a class="seemore" href="{{ path('projects') }}">See all Projects</a>
</div>
{% endblock %}
