<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <style>
        body{
            word-break: break-word;
            font-family: cursive;
            width: 100%;
            padding: 0px;
            margin: 0px;
            background-color: green;
        }
        nav{
            background-color: red;
            padding: 10px;
            display: flex;
        }
        .navlink{
            text-decoration: none;
            color: #C56763;
        }
        .navlink:hover{
            color: green;
            color: #E99900;
        }
        .name{
            font-size: 30px;
            color: #C56733;
        }
        .item{
            padding-left: 30px;
        }
        .fixitem{
            padding-top: 23px;
        }
        h1{
            text-align: center;
            color: blue;
            padding: 10px;
        }
    </style>
    <body>
        <nav>
            <p class="name">EL PORTEFOLIO</p>
            <p class="item fixitem"><a class="navlink" href="{{ path('home') }}">Homepage</a></p>
            <p class="item fixitem"><a class="navlink" href="{{ path('projects') }}">Projects</a></p>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
