{% extends 'base.html.twig' %}

{% block title %}WIWUWIWUWIWUWIWUWIWUWIWUWIWU{% endblock %}

{% block body %}
<style>
</style>
<div>
    <h1>ADD MAINTENANT</h1>
    <div>
        <form>
            <input type="text" placeholder="titre" name="title">
            <input type="text" placeholder="content" name="content">
            <input type="text" placeholder="lien image 1 (opt)" name="imgUrl1">
            <input type="text" placeholder="lien image 2 (opt)" name="imgUrl2">
            <input type="text" placeholder="lien Repo (opt)" name="lienRepo">
            <input type="text" placeholder="lien Site (opt)" name="lienSite">
            <input type="submit" value="SEND IT">
        </form>
    </div>
</div>
{% endblock %}
