{% extends 'base.html.twig' %}

{% block title %}BestProjects{% endblock %}

{% block body %}
<style>
    .content{
        text-align: center;
    }
    .title{
        color:purple;
        font-size: 25px;
    }
    .box{
        background-color: white;
        margin:50px;
        padding:20px;
        border-radius:40px;
    }
    img{
        max-width:200px;
        heigth: auto;
    }
</style>
<h1>The best projects</h1>
<div class="content">
{% for projet in projects %}
    <div class="box">
        <p class="title">{{projet.title}}</p>
        <p>{{projet.content}}</p>
        <img src="{{projet.imgUrl1}}"></img>
        <img src="{{projet.imgUrl2}}"></img>
        <p>{% if projet.lienRepo != null %}
        <a href="{{projet.lienRepo}}"> lien vers le repo </a>
        {% endif %}</p>
        <p>{% if projet.lienSite != null %}
        <a href="{{projet.lienSite}}"> lien vers le site </a>
        {% endif %}</p>
    </div>
    
{% endfor %}
</div>
{% endblock %}
